@import "tailwindcss";

html,
body {
  background: #0c0c10;
  user-select: none;
  cursor: default;
}

/* zone de titre draggable (titleBarStyle: hiddenInset) */
.titlebar {
  -webkit-app-region: drag;
}
.titlebar button,
.titlebar input {
  -webkit-app-region: no-drag;
}
